//out: ../css/Contact.css, sourcemap: false, compress: true

.contact {
  width: 100%; 
  .contact_content {
    margin: auto;
    .contact_title {
      text-align: center;
      padding: 30px 0px;
    }
    .contact_form {
      width: 100%;
      width: 400px;

      .contact_form_section {
        label {
          color: white;
        }
        input {
          color: white;
        }
        textarea {
          color: white;
        }
      }
    }
  }
}