//out: ../css/Contact.css, sourcemap: false, compress: true

.contact {
  width: 100%;
  .contact_content {
    .contact_form {
      .contact_form_section {
        label {
          color: white;
        }
        input {
          color: white;
        }
        textarea {
          color: white;
        }
      }
    }
  }
}