//out: ../css/Home.css, sourcemap: false, compress: true

@transition: 0.7s;

.home {
  // width: 100vw;
  // max-width: 100%;
  // min-height: 100vh;
  .home_container {
    position: relative;
    width: 90%;
    transition: height @transition;
    height: 0vh;
    overflow: hidden;
    .home_container_box {
      width: 100%;
      height: 90vh;
      transition: height @transition;
      overflow: hidden;
      background-color: transparent;
      border-bottom: 2px solid white;
      border-top: 2px solid white;
      border-left: 2px solid white;
      .home_header, .home_button {
        position: absolute;
        top: 0; bottom: 0;
        left: 0; right: 0;
        margin: auto;
        width: 300px;
        height: 80px;
        padding: 20px;
        text-align: center;
        border-bottom: 2px solid white;
      }
      .home_header {
        top: -160px;
        border-top: 2px solid white;
        border-right: 2px solid white;
        h1 {
          font-size: 2em;
          line-height: 37px;
        }
      }
      .home_button {
        border-left: 2px solid white;
        a {
          font-size: 1.2em;
          line-height: 40px;
          color: white; 
          text-decoration: none;
        }
      }
      .home_content, .home_content_2 {
        width: 40vh;
        position: absolute;
        p {
          width: 100%;
          color: white;
        }
      }
      .home_content {
        bottom: 0; right: 0;
        border-right: 2px solid white;
        border-top: 2px solid white;
      }
      .home_content_2 {
        top: 0; left: 0;
        border-top: 2px solid #232323;
        border-left: 2px solid #232323;
        border-bottom: 2px solid white;
        border-right: 2px solid white;
      }
    }
  }
}

@media (max-width: 850px) {
  .home {
    .home_container {
      width: 85%;
      .home_container_box {
        .home_header, .home_button {
          width: 200px;
          height: 60px;
          padding: 0px;
        }
        .home_header {
          top: -80px;
          h1 {
            font-size: 1.5em;
            line-height: 60px;
          }
        }
        .home_button {
          top: 40px;
          a {
            line-height: 70px;
          }
        }
        .home_content, .home_content_2 {
          width: 30vh;
          p {
            font-size: 0.9em;
          }
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .home {
    .home_container {
      .home_container_box {
        .home_content, .home_content_2 {
          width: 100%;
          box-sizing: border-box;
          text-align: center;
          p {
            padding: 0 10px;
          }
        }
        .home_content {
          padding-left: 10px;
          border-right: 2px solid #232323;
        }
        .home_content_2 {
          border-right: 2px solid #232323;
          padding-right: 20px;
           p {
             margin-top: 0px;
           }
        }
      }
    }
  }
}

// @media (max-width: 650px) {
//   .home {
//     // width: 100vw;
//     // max-width: 100%;
//     // min-height: 100vh;
//     .home_container {
//       width: 85%;
//       // height: 0vh;
//       .home_container_box {
//         // width: 100%;
//         // height: 90vh;
//         // border-bottom: 2px solid white;
//         // border-top: 2px solid white;
//         // border-left: 2px solid white;
//         .home_header, .home_button {
//           // top: 0; bottom: 0;
//           // left: 0; right: 0;
//           // margin: auto;
//           width: 200px;
//           height: 60px;
//           padding: 0px;
//           // border-bottom: 2px solid white;
//         }
//         .home_header {
//           top: -80px;
//           // border-top: 2px solid white;
//           // border-right: 2px solid white;
//           h1 {
//             font-size: 1.5em;
//             line-height: 60px;
//           }
//         }
//         .home_button {
//           top: 40px;
//           // border-left: 2px solid white;
//           a {
//             // font-size: 1.2em;
//             line-height: 70px;
//           }
//         }
//         .home_content, .home_content_2 {
//           width: 100%;
//           box-sizing: border-box;
//           text-align: center;
//           p {
//             // width: 100%;
//             font-size: 0.9em;
//             padding: 0 10px;
//           }
//         }
//         .home_content {
//           // bottom: 0; right: 0;
//           // border-right: 2px solid white;
//           // border-top: 2px solid white;
//           padding-left: 10px;
//           border-right: 2px solid #232323;
//         }
//         .home_content_2 {
//           // top: 0; left: 0;
//           // border-top: 2px solid #232323;
//           // border-left: 2px solid #232323;
//           // border-bottom: 2px solid white;
//           border-right: 2px solid #232323;
//           padding-right: 20px;
//            p {
//              margin-top: 0px;
//            }
//         }
//       }
//     }
//   }
// }