//out: ../css/Navbar.css, sourcemap: false, compress: true

.nav_menu {
  position: fixed;
  top: 0; right: 40px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  z-index: 100;
  a { 
    float: left;
    color: white;
    text-decoration: none;
    p {float: left; color: white;}
    &.active {
      p {
        font-weight: 600;
        padding-left: 5px;
        border-left: 1px solid white;
      } 
    }
  }
}